.logging-be {

	label {
		font-weight: bold;
		display: block;
	}

	.row {
		padding: 5px 0;
	}

	.col-sm-2, .col-sm-3, .col-sm-4 {
		float: left;
		margin-right: 5px;

		input, select {
			width: 90%;
		}
		input[type='checkbox'] {
			width: auto;
		}
	}

	.col-sm-4 {
		width: 32%;
	}
	.col-sm-3 {
		width: 24%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}

	:before, *:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after, .pagination-block:before, .pagination-block:after, .form-irre-header-body dl dd:before, .form-irre-header-body dl dd:after {
		content: " ";
		display: table;
	}

	.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .panel-body:after, .modal-footer:after, .pagination-block:after, .form-irre-header-body dl dd:after {
		clear: both;
	}
}

