.logging-be .row {
  padding: 5px 0;
}
.logging-be .col-sm-3 {
  float: left;
  width: 24%;
  margin-right: 5px;
}
.logging-be .col-sm-2 {
  margin-right: 5px;
  width: 16.66666667%;
  float: left;
}
.logging-be .clear {
  clear: both;
}
