.logging-be {

	label {
		font-weight: bold;
		display: block;
	}

	.row {
		padding: 5px 0;
	}

	.col-sm-3 {
		float: left;
		width: 24%;
		margin-right: 5px;

		input,select {
			width: 90%;
		}
	}

	.col-sm-2 {
		margin-right: 5px;
		width: 16.66666667%;
		float: left;

		input,select {
			width: 90%;
		}
	}

	.clear {
		clear: both;
	}
}
