<f:layout name="Default" />

<f:section name="content">
	<h1>
		<f:translate key="clear.header" />
	</h1>

	<p class="lead">
		<f:translate key="clear.lead" />
	</p>

	<f:form name="clear" object="{clear}" action="clear">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="log-clearAll">
						<f:translate key="clearAll" />
					</label>
					<f:form.checkbox property="all" class="checkbox" id="log-clearAll" value="1" />
				</div>
			</div>
		</div>

		<f:form.submit class="button" value="{f:translate(key:'submit')}" />
	</f:form>

	<f:if condition="{processed}">
		<div class="typo3-message message-ok">
			<f:translate key="entriesCleared" />
		</div>
	</f:if>
</f:section>
